---
---

@import "{{ site.theme }}";

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 1em;
  line-height: 1.5;
  color: #6d6d6d;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  background: #f6f9fc;
}
#container {
  min-height: 595px;
  background:  #f6f9fc;
}

header h1 {
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 48px; font-weight: 900;
  line-height: 1.2;
  color: #000000;
  letter-spacing: -1px;
}


h2 {
  color: #6f76ab;
}

h3 {
  color: #6f76ab;
}

a {
  color: #6f76ab;
  font-weight: 600;
}

p a {
  color: #6f76ab;
  font-weight: 600;
}

a:hover {
  color: #90a959;
}

blockquote {
  border-left: 10px solid #6f76ab;
}
